---
import Layout from "../layouts/Layout.astro";

const response = await fetch('http://test.local/wp-json/wp/v2/categories');
const categories = await response.json();


export async function getStaticPaths() {
  const response = await fetch('http://test.local/wp-json/wp/v2/categories');
  const categories = await response.json();

  return categories.map((category) => ({
    params: {
      category: category.slug,
    },
  }));
}

const currentCategory = categories.find(cat => cat.slug === Astro.params.category);

const categoryName = currentCategory ? currentCategory.name : '';
const categoryDescription = currentCategory ? currentCategory.description : '';
const categorylist = currentCategory ? currentCategory['wp:post_type'] : ''; 
//currentCategory.wp:post_type のように、オブジェクトのプロパティ名にコロン (:) が含まれている場合、JavaScriptの通常のドット表記 (.) ではアクセスできません。このようなケースでは、ブラケット記法 ([]) を使ってアクセスする必要があります。
const categoryId = currentCategory ? currentCategory.id : null;
let posts = [];

let postTitles = []; 
let postIds = [];
let postDate = [];

if (categoryId) {
  const postsResponse = await fetch(`http://test.local/wp-json/wp/v2/posts?categories=${categoryId}`);
  const posts = await postsResponse.json();
  postTitles = posts.map(post => post.title.rendered);  
  postIds = posts.map(post => post.id);  
  postDate = posts.map(post => post.date);
}

---

<Layout title="wincblog">
  <main>
    <h1>{categoryName}</h1>
    <p>{categoryDescription}</p>

    {postTitles.length > 0 ? (
      <ul>
    {postTitles.map((postTitle, index) => (
      <li key={index}>
        <p class="date">投稿日時: {postDate[index].substring(0,4)}年{postDate[index].substring(5,7)}月{postDate[index].substring(8,10)}日</p>
        <a href={`./${postIds[index]}`}>{postTitle}</a>
      </li>
        ))}
      </ul>
    ) : (
      <p>投稿がありません</p>
    )}
  </main>
</Layout>



<style>
  main {
    margin: auto;
    padding: 1em;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    color: black;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: black;
  }
  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    background: rgb(179, 179, 239);
  }

</style>
