---
import Layout from "../layouts/Layout.astro";
import HamburgerMenu from "../components/Header/header.astro";

type Post = {
  id: number;
  title: {
    rendered: string;
  };
  content: {
    rendered: string;
  };
  date: string;
  categories: number[]; 
};

type Category = {
  id: number;
  name: string;
};

async function getCategoryName(categoryId: number): Promise<string> {
  const response = await fetch(`http://test.local/wp-json/wp/v2/categories/${categoryId}`);
  const category: Category = await response.json();
  return category.name;
}

export async function getStaticPaths() {
  const response = await fetch('http://test.local/wp-json/wp/v2/posts');
  const posts: Post[] = await response.json();

  return posts.map((post) => ({
    params: {
      id: post.id.toString(),
    },
  }));
}

const postId = Astro.params.id;
const response = await fetch(`http://test.local/wp-json/wp/v2/posts/${postId}`);
const post: Post = await response.json();

const categoryId = post.categories.length > 0 ? post.categories[0] : null;
let categoryName = '';

if (categoryId) {
  categoryName = await getCategoryName(categoryId);
}

const postTitle = post.title.rendered;
const postContent = post.content.rendered;
const postDate = post.date;

---

<Layout title={postTitle}>
  <main>
    <h1>{postTitle}</h1>
    <h2>{categoryName}</h2>
    <p>投稿日: {postDate.substring(0,4)}年{postDate.substring(5,7)}月{postDate.substring(8,10)}日</p>
    <p>カテゴリ: {categoryName}</p>
    <div set:html={postContent}></div>
  </main>

  <script>
    const adjustImageSize = () => {
      const images = document.querySelectorAll('img');
      images.forEach((img) => {
        const width = window.innerWidth;
        if (width < 768) {
          img.style.width = '100%';
          img.style.height = 'auto';
        } else {
          img.style.width = '80%';
          img.style.height = 'auto';
        }
        img.style.display = 'block';
        img.style.margin = '0 auto';
      });
    };

    // ページ読み込み時とリサイズ時に画像のサイズを調整
    window.addEventListener('DOMContentLoaded', adjustImageSize);
    window.addEventListener('resize', adjustImageSize);
  </script>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    text-align: center;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    color: black;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: black;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    background: rgb(179, 179, 239);
  }
</style>
