---
import Layout from "../layouts/Layout.astro";


export async function getStaticPaths() {
  const categoriesResponse = await fetch('http://test.local/wp-json/wp/v2/categories');
  const categories = await categoriesResponse.json();

  return categories.map((category :any) => ({
    params: {
      category: category.slug,
    },
  }));
}

const { category } = Astro.params;

const response = await fetch(`http://test.local/wp-json/wp/v2/posts?categories=${category}`);
const posts = await response.json();
---

<Layout title={category}>
  <main>
    <h1>{category}</h1>
    <ul>
      {posts.length > 0 ? (
        posts.map((post :any) => (
          <li key={post.id}>
            <a href={`/${post.slug}`}>{post.title.rendered}</a>
          </li>
        ))
      ) : (
        <li>No posts found in this category.</li>
      )}
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
    background-color: white;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    color: black;
  }
  ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }
  a:hover {
    background: rgb(179, 179, 239);
  }
</style>
